<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

    <div class="container" ng-controller="HomeController">

    <div ng-show="report.length == 0">
      <h2>Welcome to Minion</h2>
      <p>You do not have any sites in Minion yet. This should become a nice landing page for new users.</p>
    </div>

    <div ng-show="report.length > 0">

    <ul class="nav nav-tabs">
      <li class="active">
        <a ng-href="#!/home/sites">Sites & Scans</a>
      </li>
      <li>
        <a ng-href="#!/home/history">Scan History</a>
      </li>
      <li>
        <a ng-href="#!/home/issues">All Issues</a>
      </li>
    </ul>

      <h2>Sites & Scans</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Site</th>
            <th>Plan</th>
            <th>Last Run</th>
            <th>State</th>
            <th>High</th>
            <th>Medium</th>
            <th>Low</th>
            <th>Info</th>
            <th></th>
          </tr>
        </thead>
        <tr ng-repeat="r in report">
          <td><a href="{{r.label}}" target="_blank">{{r.label}}</a></td>
          <td><a ng-href="#!/plan/{{r.plan.name}}">{{r.plan}}</a></td>
          <td>{{r.scan.created | scan_datetime }}</td>
          <td>{{r.scan.state || "-"}}</td>
          <td><span class="label warning-high minion-issue-count-label">{{r.scan.issues.high || "-"}}</span></td>
          <td><span class="label warning-medium minion-issue-count-label">{{r.scan.issues.medium || "-"}}</span></td>
          <td><span class="label warning-low minion-issue-count-label">{{r.scan.issues.low || "-"}}</span></<td></td>
          <td><span class="label warning-info minion-issue-count-label">{{r.scan.issues.info || "-"}}</span></td>
          <td>
            <button class="btn btn-mini btn-primary minion-btn" type="button" ng-click="openScan(r.scan.id)" ng-disabled="!r.scan" >Details</button>
            <button class="btn btn-mini btn-primary minion-btn" type="button" ng-click="startScan(r.target, r.plan)" ng-show="r.scan.state != 'STARTED' && r.scan.state != 'QUEUED'">Scan</button>
            <button class="btn btn-mini btn-primary minion-btn" type="button" ng-click="stopScan(r.scan.id)" ng-show="r.scan.state == 'STARTED' || r.scan.state == 'QUEUED'">Stop</button>
          </td>
        </tr>
      </table>

      <ul class="icons" ng-show="social">
        <li><i class="icon-double-angle-right"></i><a href="#">Request a new site to be added to Minion</a></li>
        <li><i class="icon-double-angle-right"></i><a href="#">Invite a colleague to Minion</a></li>
      </ul>

      </div>

    </div>
