<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->


<div class="container-fluid" ng-controller="InviteController">
    <div class="row-fluid">
        <div class="span4"><!-- left empty block --></div>
	<div class="span4">
            <h3 class="text-center">Confirm your invitation</h3>
            <div class="row-fluid">
                <div class="span2"></div>
                <div class="span4">
                    <button class="btn btn-success btn-large btn-block" 
                        ng-click="signIn(inviteId)" href="javascript:void(0)" type="button">Accept</button>
				</div>
				<div class="span4">
                    <button class="btn btn-danger btn-large btn-block" 
                        ng-click="backToLogin()" href="#" type="button">Decline</button>
                </div>
                <div class="span2"></div>
            </div>
    </div>
    <div class="span4"><!-- right empty block --></div>
</div>
