<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div ng-show="!loading" class="container">

    <ul class="nav nav-tabs">
      <li>
        <a ng-href="#!/home/sites">Sites &amp; Scans</a>
      </li>
      <li>
        <a ng-href="#!/home/history">Scan History</a>
      </li>
      <li class="active">
        <a ng-href="#!/home/issues">All Issues</a>
      </li>
    </ul>

<!--
  <ul class="nav nav-pills pull-left">
    <li ng-class="{active: filterName == 'all'}">
      <a ng-click="filter('all')">All</a>
    </li>
    <li ng-class="{active: filterName == 'high'}">
      <a ng-click="filter('all')">High</a>
    </li>
    <li ng-class="{active: filterName == 'medium'}">
      <a ng-click="filter('moco')">Medium</a>
    </li>
    <li ng-class="{active: filterName == 'low'}">
      <a ng-click="filter('mofo')">Low</a>
    </li>
    <li ng-class="{active: filterName == 'info'}">
      <a ng-click="filter('mofo')">Low</a>
    </li>
  </ul>

  <ul class="nav nav-pills pull-right">
    <li ng-class="{active: sortName == 'count'}">
      <a ng-click="sort('count')">Sort by Count</a>
    </li>
    <li ng-class="{active: sortName == 'age'}">
      <a ng-click="sort('age')">Sort by Age</a>
    </li>
    <li ng-class="{active: sortName == 'name'}">
      <a ng-click="sort('name')">Sort by Name</a>
    </li>
  </ul>
-->
</div>

<div class="container" ng-controller="IssuesController">
  <div ng-repeat="r in report" ng-show="r.issues.length">
    <h4>{{r.target}}</h4>
    <ul class="minion-issues-list">
      <li ng-repeat="issue in r.issues">
        <span class="label severity-{{issue.severity}} minion-severity-label label-default">{{issue.severity}}</span>
        <a ng-href="#!/scan/{{issue.scan.id}}/issue/{{issue.id}}">
          {{issue.summary}}
        </a>
      </li>
    </ul>
  </div>
</div>