<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container" ng-controller="IssueController">

  <h2>Issue Details</h2>

  <table class="table table-bordered">
    <tr>
      <td><b>Summary</b></td>
      <td ng-bind-html-unsafe="issue.Summary|link_bugs"></td>
    </tr>
    <tr ng-show="issue.Classification.cwe_id || issue.Classification.wasc_id">
      <td><b>Classification</b></td>
      <td ng-bind-html-unsafe="issue.Classification | classify_issue"></td>
    </tr>
    <tr>
      <td><b>Severity</b></td>
      <td>{{issue.Severity}}</td>
    </tr>
    <tr>
      <td><b>Target</b></td>
      <td><a href="{{scan.configuration.target}}">{{scan.configuration.target}}</a></td>
    </tr>
    <tr>
      <td><b>Plan</b></td>
      <td>{{scan.plan.name}}</td>
    </tr>
    <tr>
      <td><b>Plugin</b></td>
      <td>{{session.plugin.name}} {{session.plugin.version}}</td>
    </tr>
  </table>

  <ul class="icons" ng-show="social">
    <li><i class="icon-double-angle-right"></i><a href="#">Request help with this issue</a></li>
    <li><i class="icon-double-angle-right"></i><a href="#">Share this issue with a colleague</a></li>
  </ul>

  <div ng-show="issue.Description.length">
    <h3>Description</h3>
    <p ng-bind-html-unsafe="issue.Description|text"></p>
  </div>

  <div ng-show="issue.URLs.length">
    <h3>URLs</h3>
    <p>The issue was found on the following URLs:</p>

    <table class="table table-borderless table-inner-bordered" ng-repeat="url in issue.URLs">
    
    <tr>
    	<td><b>URL</b></td>
	    <td><pre>{{url.URL}}</pre></td>
    </tr>
    <tr ng-show='url.Attack'>
        <td><b>Input tested</b></td>
        <td><pre>{{url.Attack}}</pre></td>
    </tr>
    <tr ng-show='url.Parameter'>
        <td><b>Parameter tested</b></td>
        <td><pre>{{url.Parameter}}</pre></td>
    </tr>
    <tr ng-show='url.Evidence'>
        <td><b>Evidence found</b></td>
        <td><pre>{{url.Evidence}}</pre></td>
    </tr>
    <tr ng-show='url.Extra'>
	    <td><b>Extra</b></td>
	    <td>{{url.Extra}}</td>
    </tr>
    </table>

    <!--
	<ul>
	  <li ng-repeat="url in issue.URLs"><a href="{{url}}" target="_blank">{{url}}</a></li>
	  <tr>
            <td ng-repeat="url in issue.URLs"><a href="">{{url}}</a></td>
	  </tr>
	</ul>
    -->

  </div>

  <div ng-show="issue.Solution.length">
    <h3>Remediation</h3>
    <p ng-bind-html-unsafe="issue.Solution|text"></p>
  </div>

  <div ng-show="issue.FurtherInfo.length">
    <h3>Further Info</h3>
    <ul>
      <li ng-repeat="i in issue.FurtherInfo">
        <a href="{{i.URL}}" target="_blank">{{i.Title || i.URL}}</a>
      </li>
    </ul>
  </div>

</div>
