<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container" ng-controller="LoginController">
  <form class="form-signin" id="signin-form" name="signinform">
    <h2 class="form-signin-heading">Welcome to Minion</h2>
    <div class="alert alert-error" ng-show="logInStatus == 'banned'">
        <strong>Error:</strong> User account banned
    </div>

    <div class="alert alert-error" ng-show="logInStatus == 'error'">
        <strong>Error:</strong> An unknown error occurred; please contact the administrator
    </div>

    <div class="alert alert-error" ng-show="logInStatus == 'not_authorized'">
        <strong>Error:</strong> User account not authorized for login
    </div>

    <div class="alert alert-error" ng-show="logInStatus == 'invalid_cred'">
        <strong>Error:</strong> Unknown username or password
    </div>

    <div ng-show="login_type == 'persona' && logInStatus != 'banned'">
        <p><strong>Note:</strong> This application requires Persona to sign in.</p>
        <p><a class="btn btn-large btn-primary" ng-click="signIn()"><i class="icon-user"></i> Sign in with Persona</a></p>
    </div>

    <div ng-show="login_type == 'ldap' && logInStatus != 'banned'">
        <p>Username: <input type="text" ng-model="ldap.user" required /></p>
        <p>Password: <input type="password" ng-model="ldap.password" required /></p>

        <p><button class="btn btn-large btn-primary" ng-click="ldapSignIn()" ng-disabled="signinform.$invalid"><i class="icon-user"></i> Sign in</button></p>
    </div>

    <div ng-show="login_type == 'oauth' && logInStatus != 'banned'">
        <div style="padding-bottom: 1em;"><strong>Choose a provider to sign in:</strong></div>
        <span ng-repeat="provider in providers">
            <a href="/ws/login/oauth/{{ provider }}">
                <img ng-src="static/img/icons/{{ provider }}.svg" alt="Login with {{ provider }}" class="oauth-icon" />
            </a>
        </span>
    </div>
  </form>
</div>
