<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container" ng-controller="LoginController">
  <form class="form-signin" id="signin-form">
    <h2 class="form-signin-heading">Welcome to Minion</h2>
    <p><b>Note:</b> This application requires Persona to sign in.</p>
    <div class="alert alert-error" ng-show="logInStatus == 'banned'">
        <b>Oh snap!</b> You are banned so you cannot proceed to login.
    </div>
    <p><a class="btn btn-large btn-primary" ng-click="signIn()" href="#"><i class="icon-user"></i> Sign in with Persona</a></p>
  </form>
</div>
