/*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.table-borderless td, .table-borderless th {
    border: 0;
}

.warning-high {
    background-color: #b94a48;
}

.warning-medium {
  background-color: #f89406;
}

.warning-low {
    background-color: #eec900;
}

.warning-info {
  background-color: #0095dd;
}

.warning-error {
    background-color: #999999;
}


.severity-High {
    background-color: #b94a48;
}

.severity-Medium {
  background-color: #f89406;
}

.severity-Low {
    background-color: #eec900;
}

.severity-Informational {
  background-color: #0095dd;
}

.severity-Info {
  background-color: #0095dd;
}

.severity-Error {
    background-color: #999999;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}


.minion-btn {
    width: 60px;
}

.minion-issue-count-label {
    width: 30px;
    margin-right: 6px;
    text-align: center;
}

.minion-severity-label {
    width: 80px;
    margin-right: 6px;
    text-align: center;
}

.minion-issues-list {
    list-style: none;
}

.minion-dialog-textbox {
    width: 95%;
}
