
<form class="form-horizontal" name="siteForm">

  <div class="modal-header">
    <h1>Add Site</h1>
  </div>

  <form>
    <div class="modal-body">

      <div ng-show="error" class="alert alert-error"><strong>Oh snap!</strong> {{error}}</div>

      <div class="control-group">
        <label class="control-label" for="inputUrl">URL</label>
        <div class="controls">
          <input type="text" ng-model="site.url" placeholder="http://" required ng-pattern="/^(http|https)://([a-z0-9][-a-z0-9]*)(\.[a-z0-9][-a-z0-9]*)+(:\d+)?$/">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" ng-model="site.verification.enabled">Requires Ownership Verification
          </label>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputPassword">Plans</label>
        <div class="controls">
          <select size="8" multiple ng-multiple="true" ng-model="site.plans" ng-options="p.name as p.name for p in plans">
          </select>
        </div>
      </div>
    </div>
  </form>

  <div class="modal-footer">
    <button ng-click="cancel()" class="btn">Cancel</button>
    <button ng-click="submit(site)" class="btn btn-primary" ng-disabled="siteForm.$invalid">Add</button>
  </div>

</form>
