<form class="form-horizontal" name="createPlanForm">

  <div class="modal-header">
    <h1>Create Plan</h1>
  </div>

  <form>
    <div class="modal-body">

      <div ng-show="error" class="alert alert-error"><strong>Oh snap!</strong> {{error}}</div>

      <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
          <input type="text" ng-model="plan.name" placeholder="plan name" required ng-pattern="/^[a-zA-Z0-9][a-zA-Z0-9_-]{2,}?$/">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputName">Description</label>
        <div class="controls">
          <input type="text" ng-model="plan.description" placeholder="description" required>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" ng-model="plan.requiresAdministrator">Can only be executed by administrators
          </label>
        </div>
      </div>

      <textarea ng-model="plan.workflow" class="input-xxlarge minion-dialog-textbox" id="textarea" rows="9"></textarea>

    </div>
  </form>

  <div class="modal-footer">
    <button ng-click="cancel()" class="btn">Cancel</button>
    <button ng-click="submit()" class="btn btn-primary" ng-disabled="createPlanForm.$invalid">Create</button>
  </div>

</form>
