<form class="form-horizontal" name="editPlanForm">

  <div class="modal-header">
    <h1>Edit Plan</h1>
  </div>

    <div class="modal-body">

      <div ng-show="error" class="alert alert-error"><strong>Oh snap!</strong> {{error}}</div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="inputName">Name</label>
        <div class="col-sm-9">
          {{plan.name}}
        </div>
        <div class="col-sm-1 hidden"></div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="inputName">Description</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" ng-model="plan.description" placeholder="description" required>
        </div>
        <div class="col-sm-1 hidden"></div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="plan.requiresAdministrator">Can only be executed by administrators
            <label>
          </div>
        </div>
        <div class="col-sm-1 hidden"></div>
      </div>

      <textarea class="form-control" ng-model="plan.workflow" class="input-xxlarge minion-dialog-textbox" id="textarea" rows="9"></textarea>

    </div>

  <div class="modal-footer">
    <button ng-click="cancel()" class="btn">Cancel</button>
    <button ng-click="submit()" class="btn btn-primary" ng-disabled="editPlanForm.$invalid">Save</button>
  </div>

</form>
