<div class="container" ng-controller="AdminGroupsController">

  <ul class="nav nav-tabs">
    <li>
      <a ng-href="#!/admin/users">Users</a>
    </li>
    <li>
      <a ng-href="#!/admin/sites">Sites</a>
    </li>
    <li>
      <a ng-href="#!/admin/groups">Groups</a>
    </li>
    <li class="active">
      <a ng-href="#!/admin/plans">Plans</a>
    </li>
    <li>
      <a ng-href="#!/admin/plugins">Plugins</a>
    </li>
    <li>
      <a ng-href="#!/admin/invites">Invites</a>
    </li>
  </ul>

<h2>Plans</h2><span class="pull-right">
          Search: <input ng-model="query">  Sort by:
          <select ng-model="orderOption">
              <option value="name">Name (ascending)</option>
              <option value="-name">Name (descending)</option>
              <option value="created">Created on (ascending)</option>
              <option value="-created">Created on (descending)</option>
      </select>  <a class="btn btn-small" ng-click="createPlan()">Create...</a></span>

  <div class="row">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Description</th>
          </tr>
        </thead>
        <tr ng-repeat="plan in plans | filter: query | orderBy: orderOption">
          <td><a ng-href="#!/admin/plans/{{group.name}}">{{plan.name}}</a></td>
          <td>{{plan.created | scan_datetime}}</td>
          <td>{{plan.description}}</td>
          <td>
            <a ng-click="editPlan(plan)" class="btn btn-mini">Edit</a>
            <a ng-click="removePlan(plan)" class="btn btn-mini">Remove</a>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
