<div class="container" ng-controller="AdminGroupsController">

  <ul class="nav nav-tabs">
    <li>
      <a ng-href="#!/admin/users">Users</a>
    </li>
    <li>
      <a ng-href="#!/admin/sites">Sites</a>
    </li>
    <li>
      <a ng-href="#!/admin/groups">Groups</a>
    </li>
    <li class="active">
      <a ng-href="#!/admin/plans">Plans</a>
    </li>
    <li>
      <a ng-href="#!/admin/plugins">Plugins</a>
    </li>
    <li>
      <a ng-href="#!/admin/invites">Invites</a>
    </li>
  </ul>

  <h2>Plans <span class="pull-right"><a class="btn btn-mini" ng-click="createPlan()">Create...</a></span></h2>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Description</th>
          </tr>
        </thead>
        <tr ng-repeat="plan in plans">
          <td><a ng-href="#!/admin/plans/{{group.name}}">{{plan.name}}</a></td>
          <td>{{plan.created | scan_datetime}}</td>
          <td>{{plan.description}}</td>
          <td>
            <a ng-click="editPlan(plan)" class="btn btn-mini">Edit</a>
            <a ng-click="removePlan(plan)" class="btn btn-mini">Remove</a>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
