<form class="form-horizontal" name="addSiteForm">

  <div class="modal-header">
    <h1>Add Site to Group</h1>
  </div>

  <form>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="inputSite">Site</label>
        <div class="controls">
          <select ng-model="site" ng-options="site.url for site in sites | orderBy: 'url'" required></select>
        </div>
      </div>
    </div>
  </form>

  <div class="modal-footer">
    <button ng-click="cancel()" class="btn">Cancel</button>
    <button ng-click="submit(site)" class="btn btn-primary" ng-disabled="addSiteForm.$invalid">Add</button>
  </div>

</form>
