<ng-include src="'static/partials/admin/nav.html'"></ng-include>
<ng-controller="AdminInvitesController">

  <h2>Invitations </h2><span class="pull-right">
          Search: <input ng-model="query">  Sort by:
          <select ng-model="orderOption">
              <option value="sent_on">Sent on (ascending)</option>
              <option value="-sent_on">Sent on (descending)</option>
              <option value="accepted_on">Accepted on (ascending)</option>
              <option value="-accepted_on">Accepted on (descending)</option>
              <option value="expire_on">Expire on (ascending)</option>
              <option value="-expire_on">Expire on (descending)</option>
      </select>  <a class="btn btn-small" ng-click="createInvite()">Invite...</a></span>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
          <tr>
              <th>Recipient Email</th>
              <th>Recipient Name</th>
              <th>Sender</th>
              <th>Sender Name</th>
              <th>Sent on</th>
              <th>Expire on</th>
              <th>Accepted on</th>
              <th>Status</th>
              <th>Actions</th>
          </tr>
        </thead>
        <tr ng-repeat="invite in invites | filter:query | orderBy:orderOption">
            <td>{{invite.recipient}}</td>
            <td>{{invite.recipient_name}}</td>
            <td>{{invite.sender}}</td>
            <td>{{invite.sender_name}}</td>
            <td>{{invite.sent_on | scan_datetime }}</td>
            <td>{{invite.expire_on | scan_datetime }}</td>
            <td>{{invite.accepted_on | scan_datetime }}</td>
            <td>{{invite.status}}</td>
          <td>
            <a ng-click="resendInvite(invite.id)" class="btn btn-mini">Resend</a>
            <a ng-click="removeInvite(invite.id)" class="btn btn-mini">Remove</a>
          </td>
        </tr>
      </table>
    </div>
  </div>

</ng-controller>
