
<form class="form-horizontal" name="siteForm">

  <div class="modal-header">
    <h1>Set Scan-Schedules</h1>
  </div>

  <form>
    <div class="modal-body">

      <div ng-show="error" class="alert alert-error"><strong>Oh snap!</strong> {{error}}</div>
      <table class="table table-borderless">
        <tr><td>Minute:</td><td> <input type="text" ng-model="schedule.minute" /><br /></td></tr>
        <tr><td>Hour:</td><td> <input type="text" ng-model="schedule.hour" /><br /></td></tr>
        <tr><td>Day of Week:</td><td> <input type="text" ng-model="schedule.dayOfWeek" /><br /></td></tr>
        <tr><td>Day of Month:</td><td> <input type="text" ng-model="schedule.dayOfMonth" /><br /></td></tr>
        <tr><td>Month of Year:</td><td> <input type="text" ng-model="schedule.monthOfYear" /><br /></td></tr>
        </table>
    </div>
  </form>
  <div> <em> Note: Input expected in cronjob style </em> </div>

  <div class="modal-footer">
    <button ng-click="cancel()" class="btn">Cancel</button>
    <button ng-show="scheduleEnabled" ng-click="submit(site)" class="btn btn-success" ng-disabled="siteForm.$invalid">Update Schedule</button>
    <button ng-show="!scheduleEnabled" ng-click="submit(site)" class="btn btn-success" ng-disabled="siteForm.$invalid">Set Schedule</button>
    <button ng-show="scheduleEnabled" ng-click="removeSchedule(site)" class="btn btn-danger">Remove Schedule</button>
  </div>
</form>
