<ng-include src="'static/partials/admin/nav.html'"></ng-include>
<ng-controller="AdminSitesController">

    <h2>Sites</h2><span>
          Search: <input ng-model="query">  Sort by:
          <select ng-model="orderOption">
              <option value="url"> URL (ascending)</option>
              <option value="-url">URL (descending)</option>
      </select>  <a class="btn btn-small" ng-click="createSite()">Add...</a></span>

  <div class="row">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>URL</th>
            <th>Created</th>
            <th>Plans</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tr ng-repeat="site in sites">
          <td>{{site.url}}</td>
          <td>{{site.created | scan_datetime}}</td>
          <td>
            <ul>
              <li ng-repeat="plan in site.plans">
                  <div style="width:40%">{{plan}}</div>
                  <div ng-show="!credInfo[site.url][plan]" style="width:30%"><button class="btn btn-primary minion-btn-wide btn-xs" ng-click="setCredentials(site.url, plan)">Set Credentials</button></div>
                  <div ng-show="credInfo[site.url][plan]" style="width:30%"><button class="btn btn-warning minion-btn-wide btn-xs" ng-click="setCredentials(site.url, plan)">Update Credentials</button></div>
              </li>
            </ul>
          </td>
          <td>
            <a ng-click="editSite(site)" class="btn btn-mini">Edit</a>
            <!--<a ng-click="removeSite(site)" class="btn btn-mini">Remove</a>-->
          </td>
        </tr>
      </table>
    </div>
  </div>

</ng-controller>
