<ng-include src="'static/partials/admin/nav.html'"></ng-include>
<ng-controller="AdminSitesController">

    <h2>Sites</h2><span class="pull-right">
          Search: <input ng-model="query">  Sort by:
          <select ng-model="orderOption">
              <option value="url"> URL (ascending)</option>
              <option value="-url">URL (descending)</option>
      </select>  <a class="btn btn-small" ng-click="createSite()">Add...</a></span>
  
  <div class="row">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>URL</th>
            <th>Created</th>
            <th>Ownership Verification</th>
            <th>Plans</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tr ng-repeat="site in sites">
          <td>{{site.url}}</td>
          <td>{{site.created | scan_datetime}}</td>
          <td>No</td>
          <td>
            <ul>
              <li ng-repeat="plan in site.plans">{{plan}}</li>
            </ul>
          </td>
          <td>
            <a ng-click="editSite(site)" class="btn btn-mini">Edit</a>
            <!--<a ng-click="removeSite(site)" class="btn btn-mini">Remove</a>-->
          </td>
        </tr>
      </table>
    </div>
  </div>

</ng-controller>
