<div class="container" ng-controller="AdminUsersController">

  <ul class="nav nav-tabs">
    <li class="active">
      <a ng-href="#!/admin/users">Users</a>
    </li>
    <li>
      <a ng-href="#!/admin/sites">Sites</a>
    </li>
    <li>
      <a ng-href="#!/admin/groups">Groups</a>
    </li>
  </ul>

  <h2>Users</h2>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Groups</th>
          </tr>
        </thead>
        <tr ng-repeat="user in users">
          <td>{{user.email}}</td>
          <td>{{user.name}}</td>
          <td>{{user.groups}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
