<ng-include src="'static/partials/admin/nav.html'"></ng-include>
<ng-controller="AdminUsersController">

<h2>Users </h2><span class="pull-right">
          Search: <input ng-model="query">  Sort by:
          <select ng-model="orderOption">
              <option value="email">Email (ascending)</option>
              <option value="-email">Email (descending)</option>
              <option value="name">Name (ascending)</option>
              <option value="-name">Name (descending)</option>
              <option value="created">Created on (ascending)</option>
              <option value="-created">Created on (descending)</option>
              <option value="last_login">Last login (ascending)</option>
             <option value="-last_login">Last login (descending)</option>
      </select>  <a class="btn btn-small" ng-click="createUser()">Add...</a></span>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Email</th>
            <th>Created</th>
            <th>Name</th>
            <th>Role</th>
            <th>Groups</th>
            <th>Last login</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tr ng-repeat="user in users | filter:query | orderBy: orderOption">
          <td>{{user.email}}</td>
          <td>{{user.created | scan_datetime }}</td>
          <td>{{user.name}}</td>
          <td>{{user.role}}</td>
          <td>{{user.groups.join(', ')}}</td> 
          <td>{{user.last_login | scan_datetime }}</td>
          <td>
            <a ng-click="editUser(user)" class="btn btn-mini">Edit</a>
            <a ng-click="removeUser(user)" class="btn btn-mini">Remove</a>
          </td>
        </tr>
      </table>
    </div>
  </div>

</ng-controller>
